<html>
    <head>
        <meta charset="utf-8">
        <title>글쓰기</title>
    </head>
    <body>
        <h2>게시글 작성</h2>
        <form action='/writeAf' method='post'>
            mid : <input type='number' name='meal_id'><br>
            fid : <input type='number' name='food_id'><br>
            ave_star : <input type='number' name='average_star'><br>
			order : <input  type='number' name='menu_order'><br>
			<button type='submit'>글쓰기</button>
        </form>
    </body>
</html>
